nav.menu
  display flex
  flex-flow column nowrap
  align-items center
  padding-top 30px
  height 650px
  width 90px
  position relative
  background-color $bg

  &:after
    content ''
    position absolute
    top 100%
    left 0
    height 10px
    width 90px
    background-color $bg
    clip-path polygon(0% 0%, 100% 0%, 0 100%, 0% 100%)

  .logo-link
    width 55px
    margin-bottom 55px

  .link
    display block
    width 100%
    text-align center
    position relative
    span
      position absolute
      width 100%
      font-size 10px
      text-transform uppercase
      text-align center
      bottom 0
      left 0
      color $link-color
      transition color .2s ease
      font-family 'OratorSTD'
    svg .sidemenu-icon
        transition fill 0.2s ease
        fill $link-color
    &:hover
      span
        color $link-color-hovered
      svg .sidemenu-icon
        fill $link-color-hovered
    &.juice
      height 57px
      margin-bottom 52px
      svg
        height 33px
    &.shakes
      height 60px
      margin-bottom 52px
      svg
        height 40px
    &.handmeals
      height 60px
      margin-bottom 52px
      svg
        height 42px
    &.sandwich
      height 60px
      svg
        height 37px

  .menu-link
    display block
    position absolute
    width 25px
    height 25px
    bottom 25px

    background: linear-gradient(
      to bottom,
      white, white 15%,
      transparent 16%, transparent 43.4%,
      white 43.5%, white 57.5%,
      transparent 57.6%, transparent 84%,
      white 85%, white
    )

  &.opened
    .toggled-menu
      max-width 200px
