mixin nutrients(color, fat, carbs, prot)
  div(class="nutrients-bar color-" + color)
    .nutrient
      span fat
      span= fat
      span gr
      
    .nutrient
      span carbs
      span= carbs
      span gr
      
    .nutrient
      span protein
      span= prot
      span gr
