mixin product(shape, color, heading, description, fat, carbs, prot, kj, kcal)
  div(class="product-wrapper color-" + color + " shape-" + shape)
    .image-wrapper
      img(src="images/cocktails/cocktail-" + color + ".jpg")
    
    h2= heading
