include ./nutrients.pug
include ./progress.pug

mixin smoothie(active, color, fat, carbs, prot)
  .image-wrapper
    img(src="images/cocktails/cocktail-" + color + ".jpg")
      
    +nutrients(color, fat, carbs, prot)

    +progress(color)
