include product.pug

.featured-products

  include ./controls.pug

  include ./allProducts.pug

  .products
    +product(
      '',
      'type-1',
      'yellow',
      'immunity twist',
      'Passion fruit, apple, ginger',
      '123',
      '321',
      '6',
      '33',
      '8'
    )
    +product(
      'active',
      'type-2',
      'green',
      'green balance',
      'Cucumber, kale, broccoli, lemon',
      '632',
      '151',
      '6',
      '33',
      '8'
    )
    +product(
      '',
      'type-1',
      'red',
      'sweet queen',
      'Strawberry, elderflower, banana',
      '555',
      '666',
      '6',
      '33',
      '8'
    )
