<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  meta(http-equiv="X-UA-Compatible", content="ie=edge")
  title Document
  link(rel="stylesheet", href="./bundle.css")
body
  .container
    include header/header.pug
    
    include featured/wrapper.pug
    
    include boost/wrapper.pug
    
    include map/wrapper.pug
    
    include footer/footer.pug
    
  script(src="scripts/scripts.js")
