aside.boost-aside
  position absolute
  z-index 1
  right 0
  top 0

  width 695px
  height 710px

  background linear-gradient(to bottom, rgba(#7788eb, 0.9), rgba(#7788eb, 0.9)),
             url(images/boost-bg.jpg)

  clip-path polygon(
    55px 0,
    100% 30px,
    100% 100%,
    0 100%
  )

  .iphone
    background linear-gradient(to bottom, rgba(#4455bd, 0.9), rgba(#4455bd, 0.9)),
               url(images/iphone.png) center center / cover no-repeat
    width 290px
    height 600px
    margin 65px 0 0 235px
    padding 55px 0 0 5px
    border-radius 40px
