.recipes-wrapper
  width 280px
  height 465px

  display flex
  flex-direction column

  .recipe
    height 33.3%
    position relative
    cursor pointer

    // hide badly cut images
    overflow hidden

    clip-path polygon(
      0 0,
      100% 0,
      100% 200px,
      0 200px
    )
    transition all .3s ease

    @keyframes fade-out
      0%
        z-index 2
        transform scale(1.15)
        clip-path polygon(
          0 0,
          100% 10px,
          95% 200px,
          10px 200px
        )
      1%
        z-index 1
      99%
        z-index 1
        transform scale(1)
        clip-path polygon(
          0 0,
          100% 0,
          100% 200px,
          0 200px
        )
      100%
        z-index auto

    animation-name fade-out
    animation-duration .3s
    animation-timing-function ease
    animation-fill-mode forwards
    opacity 0

    &.loaded
      // display node after initial animation played
      // yes, i know it is kostyl
      opacity 1

    h4
      position absolute
      margin 0
      left 30px
      bottom 15px

      font-family 'HalisR'
      font-weight 900
      color white
      font-size 24px
      letter-spacing -1px

    img
      width 100%

    // fix for bad image source
    &:last-of-type
      img
        height 100%

    &:hover
      @keyframes fade-in
        from
          z-index 2
          transform scale(1)
          clip-path polygon(
            0 0,
            100% 0,
            100% 200px,
            0 200px
          )
        to
          z-index 2
          transform scale(1.15)
          clip-path polygon(
            0 0,
            100% 10px,
            95% 200px,
            10px 200px
          )
      animation-name fade-in
