include ./marker.pug

.map
  +marker(
    '4705 Center Blvd',
    'Long Island City',
    'NY mov, SAD',
    'active'
  )
  +marker(
    '4705 Left Blvd',
    'Long Island City',
    'NY mov, SAD',
    ''
  )
  +marker(
    '4705 Right Blvd',
    'Long Island City',
    'NY mov, SAD',
    ''
  )
