include ./store.pug

.stores-wrapper
  +store('images/stores/store1.jpg', '09:00 - 19:00', 'active')
  +store('images/stores/store2.jpg', '10:00 - 20:00', '')
  +store('images/stores/store3.jpg', '08:00 - 18:00', '')
