.map
  position absolute
  left 0
  top 0
  z-index 2

  // temp
  outline 1px solid red
  background-color lighten(black, 25%)

  width 55%
  height 755px

  clip-path polygon(
    0 0,
    100% 40px,
    93% 100%,
    0 100%
  )
