.map-wrapper
  height 850px
  margin-top 200px
  position relative
  overflow hidden

  // lines overlay
  &:before
    content ''
    position absolute
    z-index 4
    left 0
    top 0
    right 0
    bottom 0
    background url("images/stores-bg-lines.svg")
    background-position center center
    background-repeat no-repeat
    background-size 100% 109%
    pointer-events none

  h1
    position absolute
    z-index 3
    top 155px
    left 34%

    font-family 'HalisR'
    font-weight 900
    font-size 80px
    user-select none
    line-height 70px
    margin 0
    letter-spacing -5px
    color white
