.map-wrapper
  // temp
  outline 1px solid red

  height 850px
  margin-top 200px
  position relative

  h1
    position absolute
    z-index 3
    top 155px
    left 34%

    font-family 'HalisR'
    font-weight 900
    font-size 80px
    user-select none
    line-height 70px
    margin 0
    letter-spacing -5px
    color white
