footer
  nav.footer-nav
    a(href="#") home
    a(href="#") about
    a(href="#") products
    a(href="#") stores
    a(href="#") apply
    a(href="#") contact
    
  .logo
    img(src="images/icons/logo.svg")

  div.bottom-nav
    span &#9400; BO's Kitchen, 2018
    a(href="#") Privacy Policy
    a(href="#") Terms and conditions
