.all-products
  position absolute

  bottom 10px
  right 75px

  width 80px
  height 45px

  color black
  text-decoration none

  transition transform .3s ease

  &:hover
    transform translateX(5px)

  &:before
  &:after
    content ''
    display block
    background-color black
    height 2px
    position absolute

  &:before
    width 70px
    top 21px
    right 0

  &:after
    width 10px
    top 18px
    transform rotate(45deg)
    right 0

  span
    position absolute
    bottom 0px
    right 0

    font-family 'HalisR'
    font-weight 300
    font-size 14px
    color black
    line-height 12px

    letter-spacing -0.3px
