$color-yellow = #ffdb4a
$color-green = #95da61
$color-red = #ff5854

.product-wrapper
  height 425px

  position relative

  // black line
  &:before
    content ''
    position absolute
    z-index 2

    top -20px

    width 2px
    height 75px
    background-color black

  // fancy shaped background
  &:after
    content ''
    position absolute
    z-index 1


  // ==== shapes ====
  &.shape-type-1
    width 495px

    &:before
      left 135px

    &:after
      width 370px
      height 400px

      left 60px
      top 5px

      clip-path polygon(
        0 0,
        347px 17px,
        370px 380px,
        0 400px
      )

    h2
      top 130px

  &.shape-type-2
    width 515px
    margin-right 20px

    &:before
      left 160px

    &:after
      width 385px
      height 425px

      left 90px
      top 0

      clip-path polygon(
        0 5px,
        385px 0,
        358px 425px,
        0 408px
      )

  // ==== colors ====
  &.color-yellow
    &:after
      background-color $color-yellow
    .image-wrapper
      &:before
        border-color lighten($color-yellow, 30%)
      img
        box-shadow 0 0 0 7px rgba($color-yellow, 0.5),
                   20px 0 40px 0px rgba(black, 0.6)

  &.color-green
    &:after
      background-color $color-green
    .image-wrapper
      &:before
        border-color lighten($color-green, 30%)
      img
        box-shadow 0 0 0 7px rgba($color-green, 0.5),
                   20px 0 40px 0px rgba(black, 0.6)

  &.color-red
    &:after
      background-color $color-red
    .image-wrapper
      &:before
        border-color lighten($color-red, 30%)
      img
        box-shadow 0 0 0 7px rgba($color-red, 0.5),
                   20px 0 40px 0px rgba(black, 0.6)

  // ==== cocktail image ====
  .image-wrapper
    position absolute
    z-index 3

    left -5px
    top 92px

    width 300px
    height 300px

    // circle
    &:before
      content ''
      position absolute
      z-index 3
      left 0
      right 0
      top 0
      bottom 0

      width 100%
      height 100%

      border-radius 50%
      border-width 1px
      border-style solid

    img
      position absolute
      z-index 2
      left 50%
      top 50%
      transform translate(-50%, -50%)

      width 260px
      height 260px

      border-radius 50%

  h2
    position absolute
    z-index 3

    right 0

    width 200px
    margin 0

    font-family 'HalisR'
    font-weight 800
    text-transform uppercase
    font-size 36px
    line-height 40px




  outline 1px solid blue
