$color-yellow = #ffdb4a
$color-green = #95da61
$color-red = #ff5854

$color-black = #323232

.product-wrapper
  height 425px

  position relative

  &:first-of-type
    margin-right 22px

  &:nth-of-type(2)
    margin-right 55px

  // black line
  &:before
    content ''
    position absolute
    z-index 2

    top -20px

    width 2px
    height 75px
    background-color $color-black

  // fancy shaped background
  &:after
    content ''
    position absolute
    z-index 1


  // ==== shape ====
  &.shape
    width 495px
    transition width .3s ease

    &:before
      left 144px
      transition left .3s ease

    &:after
      width 370px
      height 400px

      left 60px
      top 5px

      clip-path polygon(
        0 0,
        347px 17px,
        370px 380px,
        0 400px
      )

      transition all .3s ease

    .text-wrapper
      transition all .3s ease
      top 130px
      right 0

  // ==== hovered shape ====
  &.active
  //&:not(.active):hover
    width 515px
    margin-right 20px

    &:before
      left 164px

    &:after
      width 385px
      height 425px

      left 90px
      top 0

      clip-path polygon(
        0 5px,
        385px 0,
        358px 425px,
        0 408px
      )

    .text-wrapper
      top 105px
      right -25px


  // ==== colors ====
  &.color-yellow
    &:after
      background-color $color-yellow

  &.color-green
    &:after
      background-color $color-green

  &.color-red
    &:after
      background-color $color-red

  // ==== active effect ====
  &.active
    .energy-value
      display flex
