$color-pb-green = rgba(lighten($color-green, 15%), 0.7)
$color-pb-green-shadow = rgba($color-pb-green, 0.3)
$color-pb-green-progress = lighten($color-green, 90%)

$color-pb-red = rgba(lighten($color-red, 15%), 0.7)
$color-pb-red-shadow = rgba($color-pb-red, 0.3)
$color-pb-red-progress = lighten($color-red, 90%)

$color-pb-yellow = rgba(lighten($color-yellow, 15%), 0.7)
$color-pb-yellow-shadow = rgba($color-pb-yellow, 0.3)
$color-pb-yellow-progress = lighten($color-yellow, 90%)

.progress-bar
  display none

  position absolute
  left 50%
  top 50%
  transform translate(-50%, -50%)

  &-background
    stroke-width 15px
    fill none

  &-progress
    // rotate, so stroke will start from upper top point
    transform rotate(-90deg)
    transform-origin center

    stroke-width 15px
    fill none

    stroke-dasharray 1000px

    animation-duration 1s
    animation-timing-function ease
    animation-fill-mode forwards

  &-shadow
    stroke green
    stroke-width 10px
    fill none

  // colors
  &.color-green
    .progress-bar-background
      stroke $color-pb-green
    .progress-bar-shadow
      stroke $color-pb-green-shadow
    .progress-bar-progress
      stroke $color-pb-green-progress
      @keyframes progress-green
        from
          stroke-dashoffset 1000px
        to
          stroke-dashoffset 550px
      animation-name progress-green

  &.color-red
    .progress-bar-background
      stroke $color-pb-red
    .progress-bar-shadow
      stroke $color-pb-red-shadow
    .progress-bar-progress
      stroke $color-pb-red-progress
      @keyframes progress-red
        from
          stroke-dashoffset 1000px
        to
          stroke-dashoffset 350px
      animation-name progress-red

  &.color-yellow
    .progress-bar-background
      stroke $color-pb-yellow
    .progress-bar-shadow
      stroke $color-pb-yellow-shadow
    .progress-bar-progress
      stroke $color-pb-yellow-progress
      @keyframes progress-yellow
        from
          stroke-dashoffset 1000px
        to
          stroke-dashoffset 830px
      animation-name progress-yellow


.product-wrapper.active .progress-bar
  display block
