// ==== cocktail image ====
.image-wrapper
  position absolute
  z-index 3

  width 300px
  height 300px

  img
    position absolute
    z-index 2
    left 50%
    top 50%
    transform translate(-50%, -50%)

    width 260px
    height 260px

    border-radius 50%

.text-wrapper
  position absolute
  z-index 3
  width 200px
  h2
    margin 0

    font-family 'HalisR'
    font-weight 800
    text-transform uppercase
    font-size 36px
    line-height 40px
    color $color-black
  p
    margin 0
    padding-left 5px
    font-family 'OratorStd'
    font-weight 500
    font-size 13px
    letter-spacing -2px
    text-transform uppercase
    margin-top 10px

// ==== colors ====
.product-wrapper
  &.color-red
    .image-wrapper
      &:before
        border-color lighten($color-red, 30%)
      img
        box-shadow 0 0 0 7px rgba($color-red, 0.5),
                   20px 0 40px 0px rgba(black, 0.6)

  &.color-green
    &:after
      background-color $color-green
    .image-wrapper
      &:before
        border-color lighten($color-green, 30%)
      img
        box-shadow 0 0 0 7px rgba($color-green, 0.5),
                   20px 0 40px 0px rgba(black, 0.6)

  &.color-yellow
    &:after
      background-color $color-yellow
    .image-wrapper
      &:before
        border-color lighten($color-yellow, 30%)
      img
        box-shadow 0 0 0 7px rgba($color-yellow, 0.5),
                   20px 0 40px 0px rgba(black, 0.6)

  // === shapes ====
.product-wrapper
  &.shape
    .image-wrapper
      transition all .3s ease
      left -5px
      top 92px

  &.shape.active
  //&.shape:not(.active):hover
    .image-wrapper
      left 15px
      top 80px
