.featured-products
  margin-top 140px
  height 540px
  width 100%

  position relative
  overflow hidden

  outline 1px solid red

  .products
    height 440px
    width 1700px

    position absolute
    top 0
    left 170px

    display flex
    flex-flow row nowrap
    justify-content space-between
    padding-top 15px

    transition left .3s ease

    outline 1px solid green
