.featured-products
  margin-top 140px
  height 540px
  width 100%

  position relative
  overflow hidden

  .products
    height 440px
    width 1600px

    position absolute
    top 0
    left calc(50% - 800px)

    display flex
    flex-flow row nowrap
    justify-content space-between
    padding-top 15px

    transition transform .5s ease
