nav.menu
  a.logo-link(href="#")
    img(src="images/icons/logo.svg")
  a.link.juice(href="#")
    img(src="images/sidemenu/juice.svg")
    span juice
  a.link.shakes(href="#")
    img(src="images/sidemenu/shakes.svg")
    span shakes
  a.link.handmeals(href="#")
    img(src="images/sidemenu/handmeals.svg")
    span handmeals
  a.link.sandwich(href="#")
    img(src="images/sidemenu/sandwich.svg")
    span sandwich
    
  a.menu-link(href="#")
    
  include ./toggledMenu.pug
