.toggled-menu
  ul
    li
      a(href="#") Orange Juice
    li
      a(href="#") Apple Juice
    li
      a(href="#") Pineapple Juice
  
  ul
    li
      a(href="#") Milk Shake
    li
      a(href="#") Chocolate Milk Shake
    li
      a(href="#") Vanilla Milk Shake
      
  ul
    li
      a(href="#") Hand Meals 1
    li
      a(href="#") Hand Meals 2
    li
      a(href="#") I've run out of fantasy :(
      
  ul
    li
      a(href="#") Shawerma
    li
      a(href="#") Crabsburger
    li
      a(href="#") Just another sandwich
