nav.footer-nav
  display flex
  justify-content space-between

  width 530px
  margin 0 auto

  a
    &:nth-of-type(1):after
      content 'home'
    &:nth-of-type(2):after
      content 'about'
    &:nth-of-type(3):after
      content 'products'
    &:nth-of-type(4):after
      content 'stores'
    &:nth-of-type(5):after
      content 'apply'
    &:nth-of-type(6):after
      content 'contact'
