$color-black = #323232

footer
  // temp
  margin-top 1050px
  outline 1px solid red

  height 300px
  padding-top 50px

  .logo
    width 55px
    margin 45px auto 30px
    cursor pointer
    svg
      width 100%
      path
        fill $color-black

  .bottom-nav
    display flex
    justify-content space-between
    width 260px
    margin 0 auto

    span
    a
      font-size 9px
      font-family 'HalisR'
      line-height 14px

    a
      text-decoration none
      color $color-black !important
