body
  margin 0
  padding 0

  overflow-x hidden

  .container
    width 100vw
    height 100vh
    min-width 1400px

    background url(images/bg.jpg) center center no-repeat
    background-size cover

    // temp
    height: 4000px;

*
*:before
*:after
  box-sizing border-box

@import './typography';

@import './header/header';
@import './header/menu';
@import './header/social';
