body
  margin 0
  padding 0
  width 100%
  min-width 1400px

  background url(images/bg.jpg) center center no-repeat
  background-size cover

  perspective 1px
  overflow-y auto
  position relative

  // temp
  height: 4000px;

*
*:before
*:after
  box-sizing border-box

@import './typography';

@import './header/header';
@import './header/menu';
@import './header/social';

@import './heading';
