h1
  font-family 'HalisR'
  font-weight 900
  font-size 180px
  user-select none
  line-height 140px
  letter-spacing -15px
  margin 0

  position absolute
  z-index 1

  top 215px
  left 475px

.color-shapes
  position absolute
  width 890px
  height 470px
  left 100px
  top 100px

  // transform translateZ(-1px) scale(2)
