nav.social
nav.footer-nav
  a
    display block
    height 17px
    padding 0 5px
    z-index 0

    color black
    font-family 'OratorSTD'
    text-decoration none
    position relative
    font-size 13px
    line-height 20px

    // dont forget to set proper content for after

    &:before
      content ''
      display block
      position absolute
      left 0
      top 0
      z-index 1
      width 0
      height 100%

      background-color black
      transform skew(-20deg)
      transition width .3s ease


    &:after
      content ''
      display block
      position absolute
      left 0
      top 0
      height 100%
      width 0
      z-index 2
      padding 0 0 0 5px

      color white
      overflow hidden
      transition width .3s ease

    &:hover
      &:before
        width 100%
      &:after
        width 100%
