@font-face
  font-family 'BebasNeue'
  src url('../fonts/bebas-neue-bold.ttf')
  font-weight 700

@font-face
  font-family 'OratorSTD'
  src url('../fonts/Orator Std Medium.ttf')
  font-weight 500

@font-face
  font-family 'HalisR'
  src url('../fonts/HalisR-Book.otf')
  font-weight 300

@font-face
  font-family 'HalisR'
  src url('../fonts/HalisR-Regular.otf')
  font-weight 400

@font-face
  font-family 'HalisR'
  src url('../fonts/HalisR-Medium.otf')
  font-weight 500

@font-face
  font-family 'HalisR'
  src url('../fonts/HalisR-Black.otf')
  font-weight 800;

@font-face
  font-family 'HalisR'
  src url('../fonts/HalisR-SBlack.otf')
  font-weight 900
