.recipes-wrapper
  
  a.recipe(href="#")
    h4 Detox &amp; <br /> Boost Cleanse
    img(src="images/recipes/detox.jpg")
    
  a.recipe(href="#")
    h4 Purify &amp; <br /> Glow Cleanse
    img(src="images/recipes/purify.jpg")
    
  a.recipe(href="#")
    h4 Reboot &amp; <br /> Thrive Cleanse
    img(src="images/recipes/reboot.jpg")
