.boost-wrapper
  
  h1 boost your health
  
  p TAP INTO OUR REWARDS, GIFT CARDS &amp; FRESH recipes WITH OUR APP

  a.btn.btn-filled(href="#") download app
  
  a.btn.btn-more(href="#") Learn More

  include ./aside.pug
